:root {

  /* Semantic Colors */

  --color-accent-light: lemonchiffon;
  --color-accent-med-l: peachpuff;
  --color-accent-med:   paleturquoise;
  --color-accent-dark:  lightslategray;

  --color-grey-light: #EEE;
  --color-grey-med:   #AAA;
  --color-grey-dark:  #444;

  --color-body-text: var(--color-grey-dark);

  --color-js:     lightblue;
  --color-back:   var(--color-accent-dark);
  --color-design: var(--color-accent-med-l);
  --color-front:  var(--color-accent-light);



  /* Sizing Scale */

  --size-base: 1rem;

  --size-sml: calc(var(--size-base) * 0.75);
  --size-h5: calc(var(--size-base) * 1);
  --size-h4: calc(var(--size-base) * 1.2);
  --size-h3: calc(var(--size-base) * 1.4);
  --size-h2: calc(var(--size-base) * 1.7);
  --size-h1: calc(var(--size-base) * 2);

}
