
.answers-container {
  width: 90%;
  max-width: 20rem;
  margin: 2rem auto;
}

.answers-list {
  justify-content: center;
  display: flex;
  width: 100%;
  position: relative;
  padding-left: 0;
}

.answer {
  cursor: pointer;
  padding: 1rem 2rem;
  margin-bottom: 0.2rem;
  background-color: var(--color-accent-med);
  list-style-type: none;
  border: 1px solid var(--color-accent-med);
}

.answer:hover {
  border-color: var(--color-accent-dark);
  background-color: var(--color-accent-light);
}

.answer-caption.-first {
  left: -3rem;
}

.answer-caption.-last {
  right: -var(--size-h3);
}
