
.answers-container {
  width: 90%;
  max-width: 20rem;
  margin: 2rem auto;
}

.answers-list {
  justify-content: center;
  display: flex;
  width: 100%;
  position: relative;
  padding-left: 0;
}

.answer {
  cursor: pointer;
  padding: 1rem 2rem;
  margin-bottom: 0.2rem;
  background-color: mediumaquamarine;
  list-style-type: none;
  border: 1px solid mediumaquamarine;
}

.answer:hover {
  border-color: darkcyan;
  background-color: paleturquoise;
}

.answer-caption.-first {
  left: -2.5rem;
}

.answer-caption.-last {
  right: -2.5rem;
}
