
body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.app {
  text-align: center;
  max-width: 720px;
  margin: auto;
}

.app-title {
  color: #BADA55;
}

