#bar-template {
  display: none;
}

.bar-container {
  padding-top: 1rem;
  width: 80%;
  margin: auto;
}

.bar {
  margin-top: 2rem;
  text-align: left;
  position: relative;
  background-color: #EEE;
  height: 2rem;
}

.bar-title {
  display: inline-block;
}

.bar-value {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 18px;
}


#backValue {
  background-color: var(--color-back);
}

#designValue {
  background-color: var(--color-design);
}

#jsValue {
  background-color: var(--color-js);
}

#frontValue {
  background-color: var(--color-front);
}
