#bar-template {
  display: none;
}

.bar-container {
  padding-top: 1rem;
  width: 80%;
  margin: auto;
}

.bar {
  margin-top: 2rem;
  text-align: left;
  position: relative;
  background-color: #EEE;
  height: 2rem;
}

.bar-title {
  display: inline-block;
}

.bar-value {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 15px;
  padding-right: 3px;
}

#frontValue {
  background-color: lemonchiffon;
}

#backValue {
  background-color: skyblue;
}

#designValue {
  background-color: slategray;
}

#jsValue {
  background-color: peachpuff;
}
