.bar {
  margin-top: 2rem;
  text-align: left;
}

.bar-title {
  display: inline-block;
}

.bar-value {
  display: inline-block;
  height: 1rem;
  width: 10px;
  border: 1px solid green;
}

#frontValue {
  background-color: lemonchiffon;
}

#backValue {
  background-color: skyblue;
}

#designValue {
  background-color: slategray;
}
